body {
    background-color: black;
}
.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 0.3% 0.3% 0;
  width: 33%; 
}
.my-gallery figcaption {
  display: none;
}